header {
  text-align: center;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav > a {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  background: #f6b092;
}
figcaption {
  text-align: center;
  font-size: 12px;
}
#featured-property > p {
  width: 800px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#details > div {
  float: left;
  text-align: center;
  width: 25%;
  background: #FEB301;
}